<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Test One</title>
  </head>
  <body>

    <h1>The universe is all of space and time and their contents, including planets, stars, galaxies, and all other forms of matter and energy.</h1>

    <h2>Universe is a name given to all the matter around us. Our universe is also called the cosmos. It is originally a greek word.</h2>

    <img src="{% static 'images/unv.jpeg'%}" alt="">

  </body>
</html>
