<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Form-3</title>
  </head>
  <body>

    <h3>This is a Form - 3 Created by Django Forms</h3>

    <h3>{{heading_1}}</h3>

    <form class="" method="POST">
      {% csrf_token %}

      {{ test_form.as_p }}

      <input type="submit" name="submit" value="submit">

    </form>

    <hr>

    {% if form_submited %}
    
    <p>Boolean : {{ boolean_field }}</p>
    <p>Character : {{ char_field }}</p>
    <p>Choice : {{ choice_field }}</p>
    <p>Radio Field : {{ new_field }}</p>


    {% endif %}

  </body>
</html>
